@model IEnumerable<ProductionManagement.Models.Prod>

@{
	Layout = "_Layout";
}

<h1>
	Вся продукция на линии @Model.FirstOrDefault()?.Line
</h1>
<p>
	@Html.ActionLink("Последние 50", "Last50", "Prod", new { line = Model.FirstOrDefault()?.Line }, new { @class = "btn btn-primary" })
</p>

<hr />
<table class="table">
	<thead>
		<tr>
			<th>
				Дата
			</th>
			<th>
				Время
			</th>
			<th>
				Бирка
			</th>
			<th>
				Продукт
			</th>
			<th>
				Кол-во
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					@(item.Time.ToString(@"hh\:mm\:ss"))
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Label)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Material)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Amount)
				</td>
				<td>
					@Html.ActionLink("Подробно", "Details", "Prod", new { label = item.Label }, new { @class = "btn btn-secondary" })
				</td>
			</tr>
		}
	</tbody>
</table>
