@model IEnumerable<ProductionManagement.Models.Prod>

@{
	Layout = "_Layout";
}

<h1>
	Последние 50 коробок продукции на линии @Model.FirstOrDefault()?.Line
</h1>

<p>
	@Html.ActionLink("Показать все", "Index", "Prod", new { line = Model.FirstOrDefault()?.Line }, new { @class = "btn btn-primary" })
</p>

<hr/>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Time)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Label)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Material)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Amount)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
						</td>
						<td>
					@(item.Time.ToString(@"hh\:mm\:ss"))
					@*Html.DisplayFor(modelItem => item.time, "{0:HH:mm:ss}")*@
						</td>
						<td>
					@Html.DisplayFor(modelItem => item.Label)
						</td>
						<td>
					@Html.DisplayFor(modelItem => item.Material)
						</td>
						<td>
					@Html.DisplayFor(modelItem => item.Amount)
						</td>
						<td>
					@Html.ActionLink("Details", "Details", "Prod", new { label = item.Label }, new { @class = "btn btn-secondary" })
						</td>
					</tr>
		}
	</tbody>
</table>
