@model ProductionManagement.Models.Material

@{
    Layout = "_Layout";
}
<h3>Вы уверены, что хотите удалить данную позицию?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Netto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Netto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brutto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brutto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityInHU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityInHU)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaterialID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>