@model ProductionManagement.Models.Line

@{
	bool isCreateMode = Model.Name == null;
	bool isDeleteMode = ViewBag.Mode == "delete";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Свойства линии</title>
</head>
<body>
	<div>
		<h4>Линия</h4>
		<hr />
		@if (isDeleteMode)
		{
			<form asp-action="Delete" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" asp-for="id" />
				<input type="hidden" name="mode" value="@ViewBag.mode" />

				<p>Are you sure you want to delete this record?</p>

				<div class="form-group">
					<a asp-action="Index" class="btn btn-default">Cancel</a>
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</form>
		}
		else
		{
			<form asp-action="Details" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" asp-for="id" />
				<input type="hidden" name="mode" value="@ViewBag.Mode" />
				<dl class="row">
					<dt class="col-sm-2">Название</dt>
					<dd class="col-sm-10">@(!isDeleteMode ? Html.EditorFor(m => m.Name) : Html.DisplayFor(m => m.Name))</dd>

					<dt class="col-sm-2">IP адрес</dt>
					<dd class="col-sm-10">@(!isDeleteMode ? Html.EditorFor(m => m.Ip) : Html.DisplayFor(m => m.Ip))</dd>

					<dt class="col-sm-2">Порт</dt>
					<dd class="col-sm-10">@(!isDeleteMode ? Html.EditorFor(m => m.Port) : Html.DisplayFor(m => m.Port))</dd>

					<dt class="col-sm-2">Принтер</dt>
					<dd class="col-sm-10">@(!isDeleteMode ? Html.EditorFor(m => m.Printer) : Html.DisplayFor(m => m.Printer))</dd>

					<dt class="col-sm-2">Камера</dt>
					<dd class="col-sm-10">@(!isDeleteMode ? Html.EditorFor(m => m.Camera) : Html.DisplayFor(m => m.Camera))</dd>

					<dt class="col-sm-2">Нужна печать?</dt>
					<dd class="col-sm-10">@(!isDeleteMode ? Html.EditorFor(m => m.PrintLabel) : Html.DisplayFor(m => m.PrintLabel))</dd>

					<dt class="col-sm-2">Активирована?</dt>
					<dd class="col-sm-10">@(!isDeleteMode ? Html.EditorFor(m => m.IsActive) : Html.DisplayFor(m => m.IsActive))</dd>
				</dl>
				@if (!isDeleteMode)
				{
					<button type="submit" class="btn btn-primary">Сохранить</button>
				}
				else
				{
					<button asp-action="Details" type="submit" class="btn btn-danger">Отмена</button>
				}
			</form>
		}
	</div>
</body>
</html>
